
.gallery {
    margin: 20px;
    margin-top: 0px;
}

.gallery-pictures {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* place-content: center; */
    width: fit-content;
    gap: 70px;
}

.gallery-picture {
    --width: 200px;
    --padding: 20px;

    width: calc(var(--width) + (var(--padding) * 2));
    padding: var(--padding);
    background-color: var(--header-bg-color);
    height: auto;
    min-height: 240px;
}

.gallery-picture-image-container {
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    width: 100%;
    height: 150px;
    place-content: center;
}

.gallery-picture-image-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
}

.gallery-picture p.text {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

.gallery-picture a.link-button {
    font-size: 20px;
    background: none;
    border: none;
    border-radius: 0px;
}

.gallery-picture a.link-button:hover {
    color: rgb(199, 199, 199);
}



#body {
    display: grid;
    column-gap: 24px;
} 

#middle-area {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    padding-top: 30px;
}

#middle-area #text-body {
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 100px;
}


